/*------------------------------------------UTILITIES*/
.container #game{
    
}
#game {
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}
.questionBox {
    display: flex;
    flex-direction: row;
    top: 10vh;
    width: 30rem;
    height: 20rem;
    background-color: #5D59FF;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
}

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 30rem;
    max-height: 7rem;
    background-color: #A1A0E0;
    border-radius: 0.5rem;
}

.choice-text {
    padding: 1.8rem;
    width: 100%;
    height: 100%;
    
}

.questionCount {
    width: 100%;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 1rem 1.5rem 0 rgba(57, 28, 95, 0.5);
    transform: translateY(-0.3rem);
    transition: transform 200ms;
}

.wrong {
    background-color: #E85252;
    width: 30rem;
    height: 100%;
}

.right {
    background-color: #71CA52;
    width: 30rem;
    height: 100%;
}

.progressBar {
    width: 100vw;
    height: 2rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

#progressBarPercentage {
    height: 2rem;
    background-color: #FF9F46;
    width: 0%;
}

@media (min-width: 1220px) {
    /*Utilities*/
    #game {
        margin-top: 0;
    }
    .questionBox {
        width: 45rem;
        height: 30rem;
        padding: 1rem 2rem;
    }
    .choice-container {
        margin-bottom: 2.5rem;
        width: 45rem;
        height: 7rem;
    }
    /*Text*/
    .questionBox h2 {
        font-size: 3.6rem;
        padding: 1rem;
    }
    .choice-text {
        font-size: 3rem;
    }
}