/*------------------------------------------UTILITIES*/
.questionBox {
    display: flex;
    flex-direction: row;
    top: 10vh;
    width: 30rem;
    height: 20rem;
    background-color: #5D59FF;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
}

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
    width: 30rem;
    height: 6rem;
    background-color: #A1A0E0;
    border-radius: 0.5rem;
}

.choice-text {
    padding: 1.8rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0 rgba(119, 129, 223, 0.5);
    transform: translateY(0.2rem);
    transition: transform 200ms;
}

.wrong {
    color: red;
    font-weight: 700;
    
}

.right {
    color: green;
    font-weight: 700;
}

.progressBar {
    width: 100vw;
    height: 2rem;
    background-color: rgb(255, 238, 2);
    position: absolute;
    bottom: 0;
    z-index: 1000;
}