:root {
    background-color: #dcecf3;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
}

/*------------------------------------------Text*/
h1,h2 {
    margin-bottom: 4rem;
    color: rgb(85, 110, 223);
}

h1 {
    font-size: 6.2rem;
    color: rgb(85, 110, 223);
    
}

h2 {
    font-size: 4.8rem;
}

/*------------------------------------------Utilities*/

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.container > * {
    width: 100%;
    
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/*------------------------------------------Buttons*/

.btn {
    font-size: 3.5rem;
    padding: 1rem 0;
    width: 15rem;
    margin-bottom: 1rem;
    border: 0.5rem solid;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: orange;
    border-color: #fff;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0 rgba(119, 129, 223, 0.5);
    transform: translateY(0.2rem);
    transition: transform 200ms;
}

