:root {
  background: #4A338B;
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow: hidden;
}

/*------------------------------------------Text*/
h1, h2, h3 {
  margin-bottom: 4rem;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.6rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.choice-container h2 {
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 1rem 0 1rem 0;
}

/*------------------------------------------Utilities*/
.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 120rem;
  margin: -4rem auto 0 auto;
}

.container > * {
  width: 100%;
}

.settingbox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 36rem;
  height: 100%;
  background-color: #5D59FF;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.justifyLeft {
  text-align: left;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.spaceEven {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*------------------------------------------Nav*/
.navBar {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navLinks {
  margin: 1rem 1.5rem 0.5rem 1.5rem;
}

/*------------------------------------------Buttons*/
.btnText {
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 22%;
}

.btnBox {
  position: relative;
  display: inline-block;
}

/*------------------------------------------SVGS*/
.rightWave {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  z-index: -10;
}

.leftWave {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  z-index: -10;
}

#lgPanelist {
  margin-top: 20rem;
}

#done {
  margin-bottom: 1rem;
}

/*------------------------------------------ICONS*/
#mainIcon {
  margin: 3rem 0 3rem 2.5rem;
}

.musicLogo {
  margin: 1rem 0 0 3rem;
}

a {
  display: inline-block;
}

object {
  pointer-events: none;
}

/*------------------------------------------PANELISTS*/
.panelistChoice {
  width: 13rem;
  padding-top: 7.5rem;
}

.panelistChoice object {
  margin: 0 0 4rem 2.5rem;
}

.panelistInfo {
  padding-top: 6.6rem;
  margin: 0 0 3rem 2.5rem;
  text-align: left;
}

.panelistInfo h1 {
  margin-bottom: 2rem;
}

.panelistInfo p {
  margin: 0 0 0.5rem 1rem;
  letter-spacing: 0.1rem;
}

.featureBar {
  width: 18rem;
  height: 1.1rem;
  background-color: #fff;
  border-radius: 0.3rem;
  margin-bottom: 2.8rem;
}

#bar1 {
  width: 80%;
  height: 1.1rem;
  background-color: #FF9F46;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

#bar2 {
  width: 92%;
  height: 1.1rem;
  background-color: #46BCFF;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

#bar3 {
  width: 65%;
  height: 1.1rem;
  background-color: #3F2E83;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.settingsTag {
  width: 66%;
  height: 8.5rem;
  border-radius: 0.3rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.4rem 0.4rem rgba(63, 46, 131, 0.25);
          box-shadow: 0 0.4rem 0.4rem rgba(63, 46, 131, 0.25);
  margin-top: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settingsTag h1 {
  color: #3F2E83;
  margin: 5% 10%;
}

#previous {
  margin-right: 2rem;
}

.settingsViewer {
  position: relative;
  margin-left: 23%;
}

/*------------------------------------------Category*/
.categoryInfo {
  padding-top: 3.5rem;
  margin: 0 0 3rem 2.5rem;
  text-align: left;
}

.categoryInfo h2 {
  font-size: 3.6rem;
  margin: 3.5rem 0rem 2rem 0rem;
}

.categoryInfo p {
  margin-left: 3rem;
}

.dropDownMenu {
  position: relative;
  height: 3.5rem;
}

.dropDownChoice {
  width: 17rem;
  border-radius: .3rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

#category {
  background-color: #FF9F46;
}

#difficulty {
  background-color: #46BCFF;
}

#questionNumber {
  background-color: #3F2E83;
}

/*------------------------------------------Modals*/
#infoModal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 32rem;
  height: 55rem;
  z-index: 10;
  top: 6rem;
  overflow: auto;
  background-color: #5D59FF;
  border-radius: 0.3rem;
  padding: 2rem;
}

#infoModal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

#emailModal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 32rem;
  height: 55rem;
  z-index: 10;
  top: 6rem;
  overflow: auto;
  background-color: #5D59FF;
  border-radius: 0.3rem;
  padding: 2rem;
}

#emailModal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.modalText {
  width: 20rem;
  height: 40rem;
  margin-top: 5rem;
}

.modalText h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.4rem;
}

.modalForm {
  margin-top: 5rem;
}

input[type=text], textarea {
  padding: 0.5rem;
  min-height: 3.1rem;
  border-radius: 0.3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgba(38, 38, 38, 0.5);
  border: none;
  -webkit-box-shadow: inset 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
}

label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 1rem;
  text-align: right;
  width: 6.1rem;
}

textarea {
  resize: none;
  overflow: auto;
}

form .flex-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

#modalGirl {
  position: absolute;
  top: 20rem;
  right: 5rem;
}

#close {
  position: absolute;
  right: 1rem;
}

#mailbox {
  margin-left: 2rem;
}

input[type=submit] {
  background-image: url(../images/btn.svg);
  background-repeat: no-repeat;
  border: 0;
  display: block;
  height: 5.5rem;
  width: 13.9rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: #5D59FF;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 3rem;
}

/*------------------------------------------Media Queries*/
/*-------------Vertical view-------------*/
@media (max-width: 640px) {
  .leftWave {
    display: none;
  }
  .person {
    width: 3.5rem;
  }
  .category {
    width: 3.5rem;
  }
  .note {
    width: 2.5rem;
  }
  /*Settings*/
  .settingsTag {
    width: 100%;
    height: 6rem;
    margin-top: 15%;
  }
  .settingsTag h1 {
    color: #3F2E83;
    margin: 5% 5%;
  }
  #previous {
    margin-right: 1rem;
    width: 3.5rem;
  }
  #next {
    width: 3.5rem;
  }
}

@media (max-width: 1220px) {
  #lgPanelist {
    display: none;
  }
  #smPanelist {
    width: 7rem;
  }
  #modalGirl {
    visibility: hidden;
  }
  #modalMan {
    visibility: visible;
    top: 35rem;
    position: absolute;
  }
  #mailbox {
    display: none;
  }
}

@media (min-width: 1220px) {
  /*Graphics*/
  #mainIcon {
    width: 50rem;
  }
  #mainBtn {
    width: 18rem;
    padding-top: 0.5rem;
  }
  #doneBtn {
    width: 18rem;
  }
  span {
    font-size: 3rem;
  }
  .link {
    width: 5rem;
  }
  #lWave {
    width: 99rem;
  }
  #rWave {
    width: 140rem;
  }
  #home {
    width: 6.5rem;
  }
  #music object {
    width: 4rem;
  }
  #modalMan {
    visibility: hidden;
  }
  #close object {
    width: 6rem;
  }
  /*Containers*/
  .settingbox {
    width: 120rem;
    height: 76rem;
  }
  #infoModal {
    width: 80%;
    max-width: 130rem;
    height: 76rem;
  }
  #emailModal {
    width: 80%;
    max-width: 130rem;
    height: 76rem;
  }
  /*Text*/
  h1 {
    font-size: 5rem;
  }
  p {
    font-size: 2.4rem;
  }
  .modalText {
    width: 48rem;
    height: 40rem;
    margin-top: 15rem;
    margin-left: 10rem;
    position: absolute;
    z-index: 1;
  }
  .modalText h2 {
    font-size: 4.8rem;
  }
  label {
    font-size: 3.6rem;
    margin: 2rem 2rem;
    width: 12rem;
  }
  /*Bars*/
  .featureBar {
    width: 22rem;
    height: 1.5rem;
    margin-top: 2.5rem;
  }
  #bar1 {
    height: 1.5rem;
  }
  #bar2 {
    height: 1.5rem;
  }
  #bar3 {
    height: 1.5rem;
  }
  /*Modals*/
  input[type=text], textarea {
    min-height: 5rem;
    width: 80%;
    font-size: 2.4rem;
    font-weight: 700;
  }
  input[type=submit] {
    height: 7rem;
    width: 18rem;
    background-size: 18rem;
    font-size: 3rem;
    margin-top: 3rem;
    position: absolute;
    left: 43%;
    margin-top: 8rem;
  }
}
/*# sourceMappingURL=style.css.map */